# Archivos y carpetas de entorno virtual
venv/
.env
*.env

# Archivos de compilación de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos del sistema o del editor
.DS_Store
*.swp
*.swo
.idea/
.vscode/

# Archivos de logs y bases de datos
*.log
db.sqlite3

# Archivos de test temporales
coverage/
htmlcov/
*.cover
.pytest_cache/
.tox/

# Archivos del sistema operativo
Thumbs.db
ehthumbs.db
